  <%- include('layout/header') %>
  <%- include('layout/nav') %>

  <main>
    <section class="position-relative overflow-hidden pt-5 pt-lg-3"> 
      <!-- Content START -->
      <div class="container">
        <div class="card card-body shadow p-4">
          <!-- Title -->
          <div class="row align-items-center g-5">
            <!-- Left content START -->
            <div class="col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0">
              <!-- Title -->
              <h1 class="mb-0 display-6">Application Information</h1>
              <h1 class="mb-0 display-6">Control-M Job </h1>
              <!-- Content -->
              <p class="my-4 lead">Web yang menampilkan flow, informasi dan statistik job Control-M.</p>
            </div>
            <!-- Left content END -->

            <!-- Right content START -->
            <div class="col-lg-7 col-xl-6 text-center position-relative">
              <div class="position-relative">
                <img src="../Image/gear.gif" alt="">
              </div>
              <!-- Icon logos START -->
              <div class="p-2 bg-white shadow rounded-3 position-absolute top-50 start-0 translate-middle-y mt-n7 d-none d-sm-block">
                <img src="../Image/icon1.png" alt="Icon">
              </div>
              <div class="p-2 bg-white shadow rounded-3 position-absolute top-0 end-0 me-5">
                <img src="../Image/icon2.png" alt="Icon">
              </div>
              <!-- Icon logos END -->

              <!-- Image -->
              <div class="position-relative">
                <img src="../" alt="">
              </div>
            </div>
            <!-- Right content END -->
          </div>
        </div>
        <!-- Content END -->
    </section>

    <section class="py-0 py-xl-5">
      <div class="container">

        <div class="row g-4" method="post" , action="/">
          <!-- Counter item -->
          <div class="col-sm-6 col-xl-4">
            <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
              <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
              <div class="ms-4 h6 fw-normal">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"><%=HomejumlahJobOS%> Jobs</h5>
                </div>
                <p class="mb-0">Open System</p>
              </div>
            </div>
          </div>  
          <div class="col-sm-6 col-xl-4">
            <div class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-10 rounded-3">
              <span class="display-6 lh-1 text-info mb-0"><i class="bi bi-patch-check-fill"></i></span>
              <div class="ms-4 h6 fw-normal">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300" data-purecounter-duration="0"><%= HomejumlahJobMF %> Jobs</h5>
                </div>
                <p class="mb-0">Mainframe</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="d-flex justify-content-center align-items-center p-4 bg-secondary bg-opacity-15 rounded-3">
              <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
              <div class="ms-4 h6 fw-normal">
                <div class="d-flex">
                  <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0"><%= HomejumlahAgent %> Agent</h5>
                </div>
                <p class="mb-0">Control-M Agent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('layout/footer') %>