<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <section class="pt-5">
        <div class="container">
          <div class="row g-4 g-sm-5">
            <!-- Main content START -->
            <div class="col-xl-12 mb-4 mb-sm-0">
              <!-- Personal info START -->
              <div class="card card-body shadow p-4">
                <!-- Title -->
                <h3 class="text-center">Input Search Criteria</h3>

                <!-- Form START -->
                <form
                  class="row g-3 mt-0"
                  ,
                  method="post"
                  ,
                  action="/validation"
                >
                  <!--Environment-->
                  <div class="form-group col-md-6">
                    <label for="ctmEnvironment"
                      >Environment <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-select"
                      id="ctmEnvironment"
                      name="ctmEnvironment"
                    >
                      <!--<option selected>Choose...</option>
                                            <option>Development</option>-->
                      <option>Development</option>
                    </select>
                  </div>
                  <!--Platform-->
                  <div class="form-group col-md-6">
                    <label for="ctmPlatform"
                      >Platform <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-select"
                      id="ctmPlatform"
                      name="ctmPlatform"
                    >
                      <!--<option selected>Choose...</option>-->
                      <option>OPEN SYSTEM</option>
                      <option>MAINFRAME</option>
                    </select>
                  </div>
                  <!--Job Name-->
                  <div class="form-group col-md-1">
                    <label for="ctmLikeInJobname" style="color: white">
                      -
                    </label>
                    <select
                      class="form-select"
                      id="ctmLikeInJobname"
                      name="ctmLikeInJobname"
                    >
                      <option selected value="$regex">LIKE</option>
                      <option value="$eq">=</option>
                      <!--<option>IN</option>-->
                    </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="ctmJobName"> Job Name</label>
                    <input
                      type="jobName"
                      class="form-control"
                      id="ctmJobName"
                      placeholder="Job Name"
                      name="ctmJobName"
                    />
                  </div>

                  <!--Group Name-->
                  <div class="form-group col-md-1">
                    <label for="ctmLikeInGroupName" style="color: white">
                      -
                    </label>
                    <select
                      class="form-select"
                      id="ctmLikeInGroupName"
                      name="ctmLikeInGroupName"
                    >
                      <option selected value="$regex">LIKE</option>
                      <option value="$eq">=</option>
                      <!--<option>IN</option>-->
                    </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="ctmGroupName">Group Name</label>
                    <input
                      type="groupName"
                      class="form-control"
                      id="ctmGroupName"
                      placeholder="Group Name"
                      name="ctmGroupName"
                    />
                  </div>
                  <!--Application-->
                  <div class="form-group col-md-1">
                    <label for="ctmLikeInApplication" style="color: white">
                      -
                    </label>
                    <select
                      class="form-select"
                      id="ctmLikeInApplication"
                      name="ctmLikeInApplication"
                    >
                      <option selected value="$regex">LIKE</option>
                      <option value="$eq">=</option>
                      <!--<option>IN</option>-->
                    </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="ctmApplication">Application</label>
                    <input
                      type="Application"
                      class="form-control"
                      id="ctmApplication"
                      placeholder="Application"
                      name="ctmApplication"
                    />
                  </div>
                  <!--Server-->
                  <div class="form-group col-md-1">
                    <label for="ctmLikeInServer" style="color: white">
                      -
                    </label>
                    <select
                      class="form-select"
                      id="ctmLikeInServer"
                      name="ctmLikeInServer"
                    >
                      <option selected value="$regex">LIKE</option>
                      <option value="$eq">=</option>
                      <!--<option>IN</option>-->
                    </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="ctmServer">Server</label>
                    <input
                      type="server"
                      class="form-control"
                      id="ctmServer"
                      placeholder="Server"
                      name="ctmServer"
                    />
                  </div>
                  <!--User ID-->
                  <div class="form-group col-md-1">
                    <label for="ctmLikeInUserId" style="color: white">
                      -
                    </label>
                    <select
                      class="form-select"
                      id="ctmLikeInUserId"
                      name="ctmLikeInUserId"
                    >
                      <option selected value="$regex">LIKE</option>
                      <option value="$eq">=</option>
                      <!--<option>IN</option>-->
                    </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="ctmUserId">User ID</label>
                    <input
                      type="userId"
                      class="form-control"
                      id="ctmUserId"
                      placeholder="User ID"
                      name="ctmUserId"
                    />
                  </div>
                  <!-- Button -->
                  <div class="col-md-12 text-center">
                    <input
                      type="submit"
                      class="btn btn-primary mb-0"
                      id="ctmSubmit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>
    <script>
      if (<%- validationResult %>){
        alert('Good Job! Anda Sudah Baca Panduan')
      } else if (<%- validationResult %> === 'start') {
        //pass
      } else {
          alert('Syntax Error! Baca Panduan Tolong!')
      }
    </script>
  </body>
</html>
